:root {
  --background: #334756;
  --nav: #2C394B;
  --container: #082032;
  --accent: #FF4C29;
  --text: white;
  --row1: #f9f9f9;
  --row2: #ededed;
  --shadow: 0 1px 8px rgb(0, 0, 0);
}

body {
  background-color: var(--background);
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  margin: 0;
  color: var(--text);
}

.main-title, .sub-title {
  padding: 1em;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child-container {
  background-color: var(--container);
  box-shadow: var(--shadow);
  margin: 1em;
  padding: 1em;
}