.Tabs {
    width: auto;
    height: auto;
    /* min-height: 400px; */
    background: var(--container);
    margin: 3.5em auto 1.5em;
    padding: 2em 1em;
    @media (max-width: 769px) {
        padding: 2em 0;
    };
    box-shadow: var(--shadow);
}

ul.nav {
    margin: .5em auto 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--nav);
    border-radius: 2em;
  }
  
ul.nav li {
    width: 50%;
    padding: 1em;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}
ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}
ul.nav li:hover {
    background: var(--nav);
}
ul.nav li.active {
    background: var(--accent);
}

.FirstTab p,
.SecondTab p {
    font-size: 2em;
    text-align: center;
}